/*
===============================
====== animation square =======
===============================
*/

.face1, .face2, .face3,
.face4, .face5, .face6 {
    font-weight: 600;
}

@keyframes spincube {
    from,to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }		
    16% {
        transform: rotateY(-90deg);
    }		
    33% {
        transform: rotateY(-90deg) rotateZ(90deg);
    }		
    50% {
        transform: rotateY(-180deg) rotateZ(90deg);
    }		
    66% {
        transform: rotateY(-270deg) rotateX(90deg);
    }	
    83% {
        transform: rotateX(90deg);
    }
}

.cubespinner {
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 9s;
    transform-style: preserve-3d;
    transform-origin: 60px 60px 0;
}

.cubespinner div {
    position: absolute;
    width: 120px;
    height: 120px;
    background: rgba(255,255,255,0.6);
    line-height: 120px;
    text-align: center;
    font-size: 120%;
} 
 
.cubespinner .face1 {
    transform: translateZ(60px);
    border: 1px solid #3315AF;
    box-shadow: inset 0 0 20px #3315AF;
    color:#3315AF;
}
 
.cubespinner .face2 {
    transform: rotateY(90deg) translateZ(60px);
    border: 1px solid #FECF00;
    box-shadow: inset 0 0 20px #FECF00;
    color:#FECF00;
}
 
.cubespinner .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
    border: 1px solid #6f9ea4;
    box-shadow: inset 0 0 20px #6f9ea4;
    color:#6f9ea4;
}	  
 
.cubespinner .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
    border: 1px solid #FE9500;
    box-shadow: inset 0 0 20px #FE9500;
    color:#FE9500;
}	  
 
.cubespinner .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
    border: 1px solid #0B5CA5;
    box-shadow: inset 0 0 20px #0B5CA5;
    color:#0B5CA5;
}   
 
.cubespinner .face6 {
    transform: rotateX(-90deg) translateZ(60px);
    border: 1px solid #FECF00;
    box-shadow: inset 0 0 20px #FECF00;
    color:#FECF00;
}



/*
===============================
====== animation circles ======
===============================
*/

.rotate-shadows {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.rotate-shadows {
    width: 220px;
    height: 220px;
    position: relative;
}
.rotate-shadows:after,
.rotate-shadows:before {
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center center;
}
.rotate-shadows:before {
    box-shadow: inset 0 20px 5px rgba(254, 207, 0, 1), inset 20px 0 20px rgba(255, 255, 255, 0.6), inset 0 -20px 5px rgba(11, 92, 165, 1), inset -20px 0 5px rgba(254, 149, 0, 1);
    animation: rotate-before 2s -0.5s linear infinite;
}
.rotate-shadows:after {
    box-shadow: inset 0 20px 5px rgba(255,255,255,0.6), inset 20px 0 5px rgba(254, 207, 0, 1), inset 0 -20px 5px rgba(111, 158, 164, 1), inset -20px 0 5px rgba(11, 92, 165, 1);
    animation: rotate-after 2s -0.5s linear infinite;
}
@keyframes rotate-after {
    0% {transform: rotateZ(0deg) scaleX(1) scaleY(1);}
    50% {transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);}
    100% {transform: rotateZ(360deg) scaleX(1) scaleY(1);}
}
@keyframes rotate-before {
    0% {transform: rotateZ(0deg) scaleX(1) scaleY(1);}
    50% {transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);}
    100% {transform: rotateZ(-360deg) scaleX(1) scaleY(1);}
}

